#header {
	
	background-image: url('../default/Background.png');
	position: fixed;
	top: 0px;
	left: 0px;
	width: 640px;
	height: 275px;
	
}

#oi_user {
	
	font-size: 26px;
	position: relative;
	top: 226px;
	text-align: right;
	margin-right: 20px;
	
}

#username {
	
	color: #07A;
	text-decoration: underline;
	
}

#usuarios {
	
	background-image: url('../default/usuarios_btn.png');
	
	width: 214px;
	height: 111px;
	position: absolute;
	top: 275px;
	left: 425px;
}

#new_noti {
	
	background-image: url('../default/novanotificacao_btn.png');
	
	width: 214px;
	height: 98px;
	position: absolute;
	top: 275px;
	left: 214px;
}

#notis {
	
	background-image: url('../default/notificacoes_press.png');
	width: 214px;
	height: 111px;
	position: absolute;
	top: 275px;
	z-index: 10;
	
}

.notifica {
position: relative;
clear:both;
height: 198px;
}
#noti_container {
	
position: absolute;
top: 172px;
height:548px;
z-index:-1;
	
}

.bg_noti {
	
	width: 640px;
	height: 10px;
	position: relative;
	top:104px;
	background-image: url('../default/linhaDivisoria.png');
	background-repeat: no-repeat;
	
}

.img_noti {
	
	
position: relative;
top: 30px;
left: 30px;

}

.settings_noti {
	bottom: 135px;
	position: relative;
	height: 231px;
}

.sombra_overlay {
	
	background-image: url('../default/base.png');
	height: 231px;
}

.apagar_btn {
	
	background-image: url('../default/tap/apagar_btn.png');
	width: 102px;
	height: 103px;
	position: relative;
float: left;
margin: 25px;
}

.apagar_btn:active {
	
	background-image: url('../default/tap/apagar_press.png');
}

.publicar_btn {
	
	background-image: url('../default/tap/publicar_btn.png');
	width: 108px;
	height: 100px;
	position: relative;
float: left;
margin: 25px;
}

.publicar_btn:active {
	background-image: url('../default/tap/publicar_press.png');
	
}

.visualizar_btn {
	
	background-image: url('../default/tap/visualizar_btn.png');
	width: 135px;
	height: 100px;
	position: relative;
float: left;
margin: 25px;
}

.visualizar_btn:active {
	background-image: url('../default/tap/visualizar_press.png');
	
}

.editar_btn {
	
	background-image: url('../default/tap/editar_btn.png');
	width: 81px;
	height: 100px;
	position: relative;
float: left;
margin: 25px;
}


.editar_btn:active {
	
	background-image: url('../default/tap/editar_press.png');
}

.noti-titulo {
	
	font-size: 34px;
	position: relative;
	top: 27px;
	
}

.noti-txt {
	position:relative;
	top: 30px;
	font-size: 16px;
	
}

#apagar {
	background-image: url("../notificacoes/apagar/1.3_Notificacoes_apagar_v1.png");
	
width: 640px;
height: 920px;
position: fixed;
z-index: 901;
top: 0px;
}


#sim_apagar {
	background-image: url("../botoes/sim_btn.png");
	
z-index: 902;
width: 171px;
height: 58px;
position: fixed;
top: 485px;
left: 140px;
}

#nao_apagar {
	background-image: url("../botoes/nao_btn.png");
	
width: 171px;
height: 58px;
position: fixed;
z-index: 902;
top: 485px;
left: 330px;
}

#sim_apagar:active {
	background-image: url("../botoes/sim_press.png");
}

#nao_apagar:active {
	background-image: url("../botoes/nao_press.png");
}



#bg_editnoti {
background-image: url('../notificacoes/editar/1.2_Notificacoes_editar_v3.png');
width: 640px;
height: 920px;
position: fixed;
z-index: 901;
top: 0px;
}


#salvar_noti {
	
background-image: url('../botoes/salvar_btn.png');
width: 231px;
height: 57px;
z-index: 902;
position: fixed;
top: 790px;
left: 75px;
}

#salvar_noti:active {
	
	background-image: url('../botoes/salvar_press.png');
}

#fexa_editnoti {
	background-image: url('../home/erro/fechar_btn.png');
	position: absolute;
	width: 68px;
	height: 67px;
	top: 34px;
	right: 0px;
}



#bg2-edit-noti {
	background-image: url('../notificacoes/editar/conteudo.png');
	width:548px;
	height: 722px;
	position: relative;
	top: 25px;
	left: 25px;
	background-repeat: no-repeat;
	
}

#fexa_editnoti:active {
	background-image: url('../home/erro/fechar_press.png');
	
}

#fexa-exibe-noti {
	background-image: url('../home/erro/fechar_btn.png');
position: relative;
width: 68px;
height: 67px;
top: 52px;
z-index: 902;
left: 555px;
}

#fexa-exibe-noti:active {
	background-image: url('../home/erro/fechar_press.png');
	
}

#titulo-noti-edit{
position: absolute;
top: 30px;
left: 170px;
font-size: 19px;
width: 392px;
}

#img-selecionada{
width: 243px;
height: 147px;
position: absolute;
top: 150px;
left: 165px;
}

#troca-img {
	background-image: url('../notificacoes/editar/atualizar_btn.png');
width: 61px;
height: 61px;
position: absolute;
top: 41px;
left: 52px;

	
}

#tira-img{ 
	background-image: url('../notificacoes/editar/remover_btn.png');
	
width: 61px;
height: 61px;
position: absolute;
top: 41px;
left: 135px;
}

#link-edit {
	
position: absolute;
top: 326px;
left: 168px;
font-size: 19px;
width: 395px;
	
}

#texto-noti-edit {
position: absolute;
top: 415px;
left: 169px;
font-size: 19px;
width: 393px;
height: 177px;
}

#data-expira{
position: absolute;
top: 665px;
left: 168px;
font-size: 19px;
width: 393px;
}

#publicar-agora{ 
	background-image: url('../botoes/publicaragora_btn.png');

position: fixed;
top: 790px;
left: 345px;
width: 231px;
height: 58px;
}

#publicar-agora:active{ 
	background-image: url('../botoes/publicaragora_press.png');

}

#bg_exibe_noti {
	background-image: url('../notificacoes/1.1_Notificacoes_visualizar_v1.png');
	width:640px;
	height:920px;
	
position: fixed;
z-index: 901;
top: 0px;
}

.botao-container{
position: absolute;
top: 30px;
}




