#header {
	
	background-image: url('../default/Background.png');
	position: fixed;
	top: 0px;
	left: 0px;
	width: 640px;
	height: 275px;
	
}

#oi_user {
	
	font-size: 26px;
	position: relative;
	top: 226px;
	text-align: right;
	margin-right: 20px;
	
}

#username {
	
	color: #07A;
	text-decoration: underline;
	
}

#usuarios {
	
	background-image: url('../default/usuarios_btn.png');
	
	width: 214px;
	height: 111px;
	position: absolute;
	top: 275px;
	left: 425px;
}

#new_noti {
	
	background-image: url('../default/novanotificacao_btn.png');
	
	width: 214px;
	height: 98px;
	position: absolute;
	top: 275px;
	left: 214px;
}

#notis {
	
	background-image: url('../default/notificacoes_press.png');
	width: 214px;
	height: 111px;
	position: absolute;
	top: 275px;
	z-index: 10;
	
}

#noti_container {
	
position: absolute;
top: 372px;
height:548px;
z-index:-1;
	
}

.bg_noti {
	
	width: 640px;
	height: 10px;
	position: relative;
	top:104px;
	background-image: url('../default/linhaDivisoria.png');
	background-repeat: no-repeat;
	
}

.img_noti {
	
	
position: relative;
top: 30px;
left: 30px;

}

.settings_user {
	bottom: 135px;
	position: relative;
	height: 231px;
}

.sombra_overlay {
	
	background-image: url('../default/base.png');
	height: 231px;
}

.apagar_btn {
	
	background-image: url('../default/tap/apagar_btn.png');
	width: 102px;
	height: 103px;
	position: relative;
	bottom: 275px;
	left: 505px;
}

.apagar_btn:active {
	
	background-image: url('../default/tap/apagar_press.png');
}

.publicar_btn {
	
	background-image: url('../default/tap/publicar_btn.png');
	width: 108px;
	height: 100px;
	position: relative;
	bottom: 477px;
	left: 220px;
}

.publicar_btn:active {
	background-image: url('../default/tap/publicar_press.png');
	
}

.visualizar_btn {
	
	background-image: url('../default/tap/visualizar_btn.png');
	width: 135px;
	height: 100px;
	position: relative;
	left: 34px;
	bottom: 373px;
}

.visualizar_btn:active {
	background-image: url('../default/tap/visualizar_press.png');
	
}

.editar_btn {
	
	background-image: url('../default/tap/editar_btn.png');
	width: 81px;
	height: 100px;
	position: relative;
	bottom: 173px;
	left: 372px;
}


.editar_btn:active {
	
	background-image: url('../default/tap/editar_press.png');
}

.noti-titulo {
	
	font-size: 34px;
	position: relative;
	top: 27px;
	
}

.noti-txt {
	position:relative;
	top: 30px;
	font-size: 16px;
	
}

#apagar {
	background-image: url("../notificacoes/apagar/1.3_Notificacoes_apagar_v1.png");
	
width: 640px;
height: 920px;
position: fixed;
z-index: 901;
}


#sim_apagar {
	background-image: url("../botoes/sim_btn.png");
	
z-index: 902;
width: 171px;
height: 58px;
position: fixed;
top: 485px;
left: 140px;
}

#nao_apagar {
	background-image: url("../botoes/nao_btn.png");
	
width: 171px;
height: 58px;
position: fixed;
z-index: 902;
top: 485px;
left: 330px;
}

#sim_apagar:active {
	background-image: url("../botoes/sim_press.png");
}

#nao_apagar:active {
	background-image: url("../botoes/nao_press.png");
}

#bg_edituser {
background-image: url('../notificacoes/editar/1.2_Notificacoes_editar_v3.png');
width: 640px;
height: 920px;
position: fixed;
z-index: 901;
}

#nuser_name {
	
top: 219px;
position: fixed;
left: 190px;
font-size: 32px;
height: 38px;
}

#nuser_login {
top:310px;
position: fixed;
left: 190px;
font-size: 32px;
height: 38px;
	
}

#nuser_email {
	
position: fixed;
left: 190px;
font-size: 32px;
height: 38px;
top:400px;
}

#nuser_senha {
	
position: fixed;
top: 491px;
left: 309px;
width: 273px;
font-size: 32px;
height: 38px;
}

#nuser_senha2 {
	
position: fixed;
top: 579px;
left: 309px;
width: 273px;
font-size: 32px;
height: 38px;
}

#incluir_user {
	
background-image: url('../newuser/incluir_btn.png');
width: 231px;
height: 57px;
z-index: 902;
position: absolute;
top: 790px;
left: 200px;

}

#incluir_user:active {
	
	background-image: url('../newuser/incluir_press.png');
}

#fexa_newuser {
	background-image: url('../home/erro/fechar_btn.png');
	position: absolute;
	width: 68px;
	height: 67px;
	top: 34px;
	right: 0px;
}

#fexa_newuser:active {
	background-image: url('../home/erro/fechar_press.png');
	
}

#euser_name {
	
top: 219px;
position: fixed;
left: 190px;
font-size: 32px;
height: 38px;
}

#euser_login {
top:310px;
position: fixed;
left: 190px;
font-size: 32px;
height: 38px;
	
}

#euser_email {
	
position: fixed;
left: 190px;
font-size: 32px;
height: 38px;
top:400px;
}

#euser_senha {
	
position: fixed;
top: 491px;
left: 309px;
width: 273px;
font-size: 32px;
height: 38px;
}

#euser_senha2 {
	
position: fixed;
top: 579px;
left: 309px;
width: 273px;
font-size: 32px;
height: 38px;
}

#euser_oldsenha {
	
position: fixed;
top: 670px;
left: 309px;
width: 273px;
font-size: 32px;
height: 38px;
}

#salvar_noti {
	
background-image: url('../botoes/salvar_btn.png');
width: 231px;
height: 57px;
z-index: 902;
position: absolute;
top: 790px;
left: 75px;
}

#salvar_user:active {
	
	background-image: url('../botoes/salvar_press.png');
}

#fexa_editnoti {
	background-image: url('../home/erro/fechar_btn.png');
	position: absolute;
	width: 68px;
	height: 67px;
	top: 34px;
	right: 0px;
}

#bg2-edit-noti {
	background-image: url('../notificacoes/editar/conteudo.png');
	width:548px;
	height: 722px;
	position: relative;
	top: 25px;
	left: 25px;
	background-repeat: no-repeat;
	
}

#fexa_editnoti:active {
	background-image: url('../home/erro/fechar_press.png');
	
}

